<!--
    cribbed from
    http://code.google.com/appengine/docs/java/gettingstarted/creating.html
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>rdfa</servlet-name>
        <servlet-class>org.w3.swap.webapp.RDFaExtractor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rdfa</servlet-name>
        <url-pattern>/rdfa</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
</web-app>
